<div class="flex-container">

  <div class="form_container">
    <form name="form">
      <h3 class="text-center display-4">Patient Information</h3>

      <h5>Contact Info</h5>
      <div class="row">
        <div class="col-sm-4">
          <label for="name">Full Name</label>
          <input type="text" id="name" name="name" class="form-control rounded-pill"
          [(ngModel)]="patient.name"/>
        </div>
        <div class="col-sm-4">
          <label for="phone">Cell Number</label>
          <input type="text" id="phone" name="phone" class="form-control rounded-pill"
          [(ngModel)]="patient.cell_number"/>
        </div>
        <div class="col-sm-4">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control rounded-pill"
          [(ngModel)]="patient.email"/>
        </div>
      </div>

      <h5>Home Address</h5>
      <div class="row">
        <div class="col-sm-8">
          <label for="address">Street</label>
          <input type="text" id="address" name="address" class="form-control rounded-pill"
                 [(ngModel)]="patient.address"/>
        </div>

        <div class="col-sm-4">
          <label for="city">City</label>
          <input type="text" id="city" name="city" class="form-control rounded-pill"
                 [(ngModel)]="patient.city"/>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-4">
          <label for="state">State</label>
          <input type="text" id="state" name="state" class="form-control rounded-pill"
                 [(ngModel)]="patient.state"/>
        </div>
        <div class="col-sm-4">
          <label for="zipcode">ZipCode</label>
          <input type="text" id="zipcode" name="state" class="form-control rounded-pill"
                 [(ngModel)]="patient.zipcode"/>
        </div>

        <div class="col-sm-4">
          <label for="county">County</label>
          <input type="text" id="county" name="county" class="form-control rounded-pill"
                 [(ngModel)]="patient.county"/>
        </div>
      </div>

      <h5>Ethnicity</h5>
      <div class="row">
        <div class="col-sm-4">
          <label for="race">Race</label>
          <input type="text" id="race" name="race" class="form-control rounded-pill"
                 [(ngModel)]="patient.state"/>
        </div>
        <div class="col-sm-4">
          <label for="gender">Gender</label>
          <input type="text" id="gender" name="gender" class="form-control rounded-pill"
                 [(ngModel)]="patient.zipcode"/>
        </div>
        <div class="col-sm-4">
          <label for="ethnicity">Ethnicity</label>
          <input type="text" id="ethnicity" name="ethnicity" class="form-control rounded-pill"
                 [(ngModel)]="patient.county"/>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center">
          <button type="submit" (click)="createPatient(patient)" class="btn btn-lg btn-success rounded-pill create-button">
            <i class="fa fa-plus-circle fa-3x">Submit</i>
          </button>
        </div>
      </div>

    </form>

  </div>

</div>


